.pagination__container {
  margin-top: 50px;
}
.pagination {
  display: flex;
  margin: -5px;
  align-items: center;
  justify-content: center;
}
.pagination__num {
  cursor: pointer;
  padding: 8px;
  border: 1px solid var(--font-orange-color);
  border-radius: 5px;
  background-color: white;
}
.pagination__num:hover,
.pagination__num:focus {
  background-color: var(--font-orange-color);
  color: white;
  outline: none;
}
.pagination__active {
  background-color: red;
  color: white;
  padding: 12px;
}
.pagination__item {
  margin: 5px;
}
.pagination__aditional {
  display: none;
}
.break {
  display: none;
}
@media screen and (min-width: 480px) {
  .pagination__aditional {
    display: list-item;
  }
  .pagination__item {
    margin: 10px;
  }
  .pagination {
    margin: -10px;
  }
}
