.title {
  font-size: 54px;
  margin-bottom: 30px;
}

.title > span {
  font-style: italic;
  color: var(--font-orange-color);
}
.text {
  font-size: 24px;

  color: var(--font-orange-color);
  font-style: italic;
}
