.social__list {
  margin-top: 10px;
  display: flex;
}
.social__item:not(:last-child) {
  color: black;
  margin-right: 10px;
}

.social__item:hover,
.social__item:focus {
  color: var(--font-orange-color);
}
.social__link {
  color: inherit;
}
