.nav {
  display: flex;
  width: 100%;
}

.nav__list {
  margin-left: auto;
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  padding: 20px 0;
  font-weight: inherit;
  color: var(--font-white-color);
  background-color: transparent;
  text-transform: capitalize;
}
.nav__link:hover,
.nav__link:focus {
  color: var(--font-orange-color);
}

.nav__link.active {
  border-bottom: 1px solid var(--font-orange-color);
}
