:root {
  --font-black-color: rgb(0, 0, 0);
  --font-orange-color: #ff6b08;
  --font-grey-color: #545454;
  --font-white-color: #ffffff;
}

.btn {
  padding: 15px 20px;
  border-radius: 5px;

  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  transition: transform 200ms ease-in-out;
}
.btn--regular {
  background-color: white;
  border: 1px solid var(--font-black-color);
  color: var(--font-black-color);
}
.btn--active {
  background-color: var(--font-orange-color);
  border: 1px solid transparent;
  color: var(--font-white-color);
}
.btn:hover,
:focus {
  border: 1px solid var(--font-orange-color);
  color: var(--font-orange-color);
  transform: scale(1.2);
}
